<!DOCTYPE html>
<html>
<head>
    {{>meta}}
</head>
<body>
    
    <!-- header section -->
    {{>header}}
    
    <hero class="hero">
        <img class="hero_img" src="./img/hero.png" alt="laptop" />
        <h1>Short links, big results</h1>
        <p>A URL shortener built to help you grow and protect your brand.</p>
        <button onclick="signup()" class="index_button">Get Started for Free</button>
    </hero>
    
    <div class="link_short">
        <form class="form" action="/shortner" method="post" accept-charset="utf-8">
            <input class="input" name="short" type="text" placeholder="https://example.com" required />
            <button class="index_button" type="submit">Shorten</button>
        </form>
        
        <div class="column_reverse">
        <!-- database urls data -->
        {{#each shortUrls}}
            <li class="data_links">
                <a href="{{this.fullurl}}"> {{this.fullurl}} </a>
                <hr>
                <a href="{{this.fullurl}}"> https://localhost/{{this.shorturl}} </a>
                <small class="countdown" id="countdown">link will expires in : </small>
                <button onclick="clicked(`{{this.shorturl}}`)" class="copy">Copy</button>
            </li>
        {{/each}}
        </div>
            
    </div>
    
    <hero class="hero hero2">
        <h1>Want to customize and track your links?</h1>
        <button onclick="signup()" class="index_button">sign up for free</button>
        <h3>More than a link shortener.</h3>
    </hero>

{{>javascript}}
</body>
</html>