<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width initial-scale=1.0">

	<!-- google fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">

	<!-- font awesome -->
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

	<!-- local css file -->
	<link rel="stylesheet" href="../css/main.css" />
	<link rel="stylesheet" href="../css/root.css" />

	<!-- favicon and title -->
	<title>DevLink</title>

</head>
<body>

	<!-- header section -->
	<header class="header">
		<p class="brand">
			devlink
		</p>
		<img class="logo" src="../img/logo.png" alt="logo" />
	</header>
	<!-- left back arrow -->
	<div class="back_arrow">
		<a href="/logout">
			<i class="fa fa-arrow-left" aria-hidden="true"></i>
		</a>
	</div>
	<hr class="hr">

	<form class="root_form" action="/userpost" method="post" accept-charset="utf-8">
		<p class="already">
			Note: https:// is Required.
		</p>
		<input class="input" name="short" type="text" placeholder="https://example.com" required />
		<input type="hidden" name="id" value="{{id}}" />
		<button class="root_button" type="submit">Shorten</button>
	</form>

	<!-- database urls data -->
	{{#each doc}}
	<div class="root_links">
		<li class="root_data_links">
			<a href="{{this.fullurl}}"> {{this.fullurl}} </a>
			<hr>
			<a href="{{this.fullurl}}">devli.herokuapp.com/{{this.shorturl}} </a>
			<div class="each_button">
				<button onclick="clicked(`{{this.shorturl}}`)" id="copy" class="copy">Copy</button>
				<button id="delete" class="delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
			</div>
		</li>
	</div>
	{{/each}}

	<img class="lappy" src="../img/lappy.png" alt="lappy" />

	<div class="logout">
		<a class="logout_button" href="/logout">Logout</a>
		<a class="logout_button" href="/logoutall">Logout from all Devices</a>
	</div>

	<!-- scripts -->
	<script src="../js/main.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>